.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #ffffff;
}

.header-label {
    -fx-background-color: #12dbdba5;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-pref-height: 40;
    -fx-min-width: 100%;
}

.primary-btn {
    -fx-background-color: #15cbdf;
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 8 20;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
}

.sidebar {
    -fx-background-color: #FFEB3B;
    -fx-pref-width: 200;
    -fx-alignment: top-center;
    -fx-spacing: 15;
}

.side-btn {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-alignment: center-left;
}
